* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif !important;
    margin-bottom: 0;
}

body {
    font-weight: 400 !important;
}

.table {
    @apply w-full divide-y divide-gray-200;

    thead {
        @apply bg-white;

        th {
            @apply px-6 py-5 text-left text-sm text-black uppercase font-bold;
        }
    }

    tbody {
        @apply bg-white divide-y divide-gray-200;

        td {
            @apply px-6 py-4 whitespace-nowrap;
        }
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 375px) {
        padding: 1rem;
        // max-width: 328px;
    }
    @media (min-width: 640px) {
        max-width: 600px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 1024px) {
        max-width: 960px;
    }
    @media (min-width: 1280px) {
        max-width: 1200px;
    }
    // @media (min-width: 1536px) {
    //     max-width: 1400px;
    // }
}
